# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.spec

# Executables
*.exe

# Logs
*.log

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db